# Secret Keys & Database Links
JWT_SECRET="JWT_SECRET"
MONGODB_URL="mongodb://localhost:27017/unified_main"
NODE_ENV="production"
# ==========================================
# Rate Limiting Configuration (in Milliseconds)
# 1 minute = 60000 | 5 minutes = 300000 | 15 minutes = 900000
# ==========================================

# High Security / Auth Limiter (5 requests per 5 minutes)
AUTH_WINDOW_MS=300000     
AUTH_MAX_REQUESTS=5 
MESSAGE_AUTH="Too many login/signup attempts. Please try again in 5 minutes."

# General / Global Limiter (100 requests per 5 minutes)
GEN_WINDOW_MS=300000      
GEN_MAX_REQUESTS=100
MESSAGE_GENERAL="Too many requests originating from this IP. Please slow down."